<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido {{ user.username }}</h1>
    <p>Rol actual: <strong>{{ rol }}</strong></p>

    {% if rol == "Administrador" %}
        <p>Acceso completo al sistema.</p>
        <a href="/admin/">Ir al panel de administración</a>

    {% elif rol == "Encargado" %}
        <p>Puedes registrar productos en el inventario.</p>
        <a href="{% url 'registrar_producto' %}">Registrar producto</a>
        <a href="{% url 'vista_lectura' %}">Ver listado de artículos</a><br>

    {% elif rol == "Responsable de área" %}
        <p>Solo puedes ver los productos asignados a tu área.</p>

    {% elif rol == "Invitado" %}
        <p>Tienes acceso limitado de solo lectura.</p>

    {% else %}
        <p>Tu rol no tiene permisos asignados.</p>
    {% endif %}

    <br>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    
</body>
</html>
